<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.linguist_desc }}</li>
          <li><a href="mailto:{{ site.linguist_email }}">{{ site.linguist_email }}</a></li>
          <li>{{ site.dev_desc }}</li>
          <li><a href="mailto:{{ site.dev_email }}">{{ site.dev_email }}</a></li>
          <li>{{ site.github_desc }}</li>
          <li><a href="{{ site.github_url }}">{{ site.github_url }}</a></li>
        </ul>
      </div>

  </div>

  <div class="footer-col-wrapper">

    <img class="banner" src="{{ site.baseurl }}/img/footer-banner.png" alt="Footer Banner Logos">

  </div>

</footer>
