<script type="text/javascript">

var HEADER = "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<aiml version=\"1.0\">\n\n<!-- {{ topic }} topic -->\n\n";
var CATEGORY = "<category>\n{{ arguments }}\n</category>";

var CAT_ARGS = [
    
];

console.log(HEADER);

console.log("hello world");

</script>

<h4> Conversation Tree </h4>

<textarea id="userInput" class="user-input">Hello world</textarea>

<h4> AIML Output </h4>

<textarea id="userInput" class="user-input">Hello world</textarea>

<h4> Submission </h4>
<p>
This is where the submission form will go.
</p>