<script type="text/javascript" src="{{ site.baseurl }}/js/parser.js"></script>

<div class="editor-col-wrapper">
	<div class="editor-col editor-col-1">
		<h4> Conversation Tree </h4>

		<input type="text" class="user-input-blur" id="topicInput" value="Topic Name" onfocus="inputFocus(this)" onBlur="inputBlur(this); validateTopic(this)">

		<textarea class="user-input-textarea-blur" id="userInput" onfocus="inputFocus(this)" onblur="inputBlur(this)">Conversation Tree</textarea>

	</div>

	<div class="editor-col editor-col-2">
		<h4> AIML Output </h4>

		<textarea id="codeOutput" class="user-input-textarea" value=""></textarea>

		<h4> Submission </h4>
		<p>
		This is where the submission form will go.
		</p>
	</div>
</div>